*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/* -------------- World's Delicious Ice Cream ------------------ */

.header {  /* section = header*/
	min-height: 100vh;
	width:  100%;
	background-image: url("banner3.jpg");
	
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding:  2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	height: 130px;
	width: auto;
}

.nav-links { /* Nav Bar */
	flex: 1;
	text-align: right;
}

.nav-links ul li { /* Nav Bar */
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;	
}

.nav-links ul li a { /*navigation links*/
	color: #1c1c1c;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul li::after { /*hover decoration effect*/
	content: '';
	width: 0%;
	height: 3px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after { /* when hover it becomes a full line*/
	width: 100%;
}

.text-box { /* the main title's text box */
	width: 90%;
	color: #1c1c1c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 { /* main title */
	font-size: 62px;
}

.text-box p { /* description */
	margin: 10px 0 40px;
	font-size: 30px;
	color: #1c1c1c;
}

.flavor-btn { /* base button design for "Check Out Our Flavors" */
	display: inline-block;
	text-decoration: none;
	color: #1c1c1c;
	border: 1px solid #1c1c1c;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.flavor-btn:hover { /* hover effect of button design for "Check Out Our Flavors" */
	border: 1px solid #f44336;
	background: #f44336;
	color: #ffffff;
	transition: 1s;
}

nav .fa { /* the close and menu icons will not display when screen is bigger than 700px */
	display: none;
}


@media(max-width: 1020px) { /* if devices width is less than 1000px, do this */
	.text-box h1 { /* main title */
		font-size: 35px;
	}

	.text-box p { /* description */
		font-size: 20px;
	}

	.nav-links ul li { /* Nav Bar */
		display: block;	
	}

	.nav-links { /*base side menu*/
		position: absolute;
		background: #f6f6f6;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	nav .fa { /* the close and menu icons will display when screen is smaller than 1000px */
	display: block;
	color: #1c1c1c;
	margin: 10px;
	font-size: 30px;
	cursor: pointer;
	transition: 0.3s;
	}

	nav .fa:hover { /* the close and menu icons hover effect */
	font-size: 35px;
	}

	.nav-links ul { /* padding of side nav bar */
		padding: 30px;
	}
}

/* -------------- About Us ------------------ */


.about-us {
	width: 83%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1 {
	font-size: 40px;
	font-weight: 600;
}
p {
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.about-us-col { /*the boxes of the columns */
	flex-basis: 31%;
	background: #f9bcbc;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box ;
	transition: 0.5s;
}

h3 {
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.about-us-col:hover { /* shadow hover effect */
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 1020px) {
	.row {
		flex-direction: column;
	}
}

/* -------------- Branch ------------------ */

.bestseller {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 100px;
	padding-bottom: 50px;
	border-radius: 20px;
	background-color: #f9bcbc;
	color: #1c1c1c;
	transition: 0.5s;
}

.bestseller:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.rowb {
	margin-top: 5%;
	display: inline;

}

.bestseller-col {
	flex-basis: 32%;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	margin: 30px;
}

.bestseller-col img {
	width: 100%;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	color: white;
}

.layer:hover {
	background: rgba(220, 0, 0, 0.4);
}

.layer h3 {
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform:  translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3 {
	bottom: 49%;
	opacity: 1;
}

/*-----------------------------------------------------*/

.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background-color: #1f1f1f;
	color: white;
}

.footer h4 {
	margin-bottom: 15px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 25px
}

.footer h1 {
	font-size: 20px;
	font-weight: 50;
}

.icons {
	font-size: 25px;
}
